.flex-con
{
  display: flex;
  flex-wrap: wrap;
}

.flex-con-cen
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}

.flex-con-cen-col
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}

.flex-con-button
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
}

.flex-con-button > * 
{
  margin-right: 5px;
}

.flex-item-1 
{
  flex: 1;
}

.flex-item-01
{
  flex: 0.1
}

.text-cen
{
  text-align: center;
}

.dis-in
{
  display: inline-block;
}

/* PADDING */

.pd-10
{
  padding: 10px;
}

.pd-7
{
  padding: 7px;
}

.pdb-0
{
  padding-bottom: 0px;
}

.pdt-7
{
  padding-top: 7px;
}

.pdt-20
{
  padding-top: 20px;
}

.pdr-10
{
  padding-right: 10px;
}

/* MARGIN */

.mt-7
{
  margin-top: 7px;
}

.mt-10
{
  margin-top: 10px;
}

.mt-15
{
  margin-top: 15px;
}

.mt-30
{
  margin-top: 30px;
}

.mr-0
{
  margin-right: 10px;
}

/* FONT SIZE */

.font-60
{
  font-size: 60px;
}

@media (max-width:550px)
{

}

