/* * {
  margin: 0;
  padding: 0;
} */

body
{
  background-color: #f0d5aa;
  font-family: Tahoma;
  margin: 0px 0px;
  color: #1f1a19;
}

h1 
{
  margin-top: 0px;
}

a
{
  text-decoration: none;
}


.dark-border
{
  border: 1px solid #1f1a19;
  border-radius: 2px;
}

.thick-dark-border
{
  border: 5px solid #1f1a19;
  border-radius: 5px;
  padding: 7px;
}

input
{
  color: #e2b378;
  background-color: #1f1a19;
  padding: 10px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
}

button
{
  color: #e2b378;
  background-color: #1f1a19;
  padding: 10px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
}

.profile-pic-div img
{
	width: 80px;
  height: 80px;
  flex: 1;
}

.main-header {
  /* background-color: #c49761; */
  padding: 10px;
  background-image: linear-gradient(to top, #f0d5aa, #c49761 2%)
}

#canvas
{
	display: none;
}

.indexfeed
{
  border: 5px solid #3d2720;
  border-radius: 5px;
  padding: 2px;
}

textarea
{
	border: none;
}

.thumbnails img
{
	width: 200px;
	height: 150px;
}

.image-checkbox img
{
	width: 66px;
	height: 60px;
}

.font-red
{
  color: rgb(121, 4, 4);
}

.font-choc
{
  color: #291a15;
}

.bold
{
  font-weight: bold;
}

.right-s
{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.left-s
{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

@media (max-width:530px)
{
	video
 	{
		width: 80%;
		height: 80%;
	}
	img
	{
		width: 80%;
		/* height: 80%; */
	}	
	textarea
	{
		width: 10em;
	}
}