#Options +FollowSymLinks
#RewriteEngine On
#RewriteRule ^(.*) http://localhost:8080/Camagru/index.php 

#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /index.php?path=$1

ErrorDocument 400 http://localhost:8080/Camagru/error.html
ErrorDocument 401 http://localhost:8080/Camagru/error.html
ErrorDocument 403 http://localhost:8080/Camagru/error.html
ErrorDocument 404 http://localhost:8080/Camagru/error.html
ErrorDocument 500 http://localhost:8080/Camagru/error.html